Gate/Web References/WebReference/CardReader0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dmtserv.CardServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dmtserv.CardServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dmtserv.CardServices/Imports">
      <xsd:import schemaLocation="http://192.168.2.204:8000/DMTSolutions/CardReader?xsd=xsd0" namespace="http://dmtserv.CardServices" />
      <xsd:import schemaLocation="http://192.168.2.204:8000/DMTSolutions/CardReader?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.204:8000/DMTSolutions/CardReader?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICardService_GetTransactionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionList" />
  </wsdl:message>
  <wsdl:message name="ICardService_GetTransactionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionListResponse" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateTransactionSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionSQL" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateTransactionSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateOneCardSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneCardSQL" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateOneCardSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOneCardSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ICardService_GetCardList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardList" />
  </wsdl:message>
  <wsdl:message name="ICardService_GetCardList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardListResponse" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateAccessSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessSQL" />
  </wsdl:message>
  <wsdl:message name="ICardService_UpdateAccessSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ICardService_GetAccessLevelList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessLevelList" />
  </wsdl:message>
  <wsdl:message name="ICardService_GetAccessLevelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccessLevelListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICardService">
    <wsdl:operation name="GetTransactionList">
      <wsdl:input wsaw:Action="GetTransactionList" message="tns:ICardService_GetTransactionList_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/GetTransactionListResponse" message="tns:ICardService_GetTransactionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionSQL">
      <wsdl:input wsaw:Action="UpdateTransactionSQL" message="tns:ICardService_UpdateTransactionSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/UpdateTransactionSQLResponse" message="tns:ICardService_UpdateTransactionSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOneCardSQL">
      <wsdl:input wsaw:Action="UpdateOneCardSQL" message="tns:ICardService_UpdateOneCardSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/UpdateOneCardSQLResponse" message="tns:ICardService_UpdateOneCardSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardList">
      <wsdl:input wsaw:Action="GetCardList" message="tns:ICardService_GetCardList_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/GetCardListResponse" message="tns:ICardService_GetCardList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessSQL">
      <wsdl:input wsaw:Action="UpdateAccessSQL" message="tns:ICardService_UpdateAccessSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/UpdateAccessSQLResponse" message="tns:ICardService_UpdateAccessSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessLevelList">
      <wsdl:input wsaw:Action="GetAccessList" message="tns:ICardService_GetAccessLevelList_InputMessage" />
      <wsdl:output wsaw:Action="http://dmtserv.CardServices/ICardService/GetAccessLevelListResponse" message="tns:ICardService_GetAccessLevelList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>