Gate/Web References/WebReference/CardReader0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dmtserv.CardServices" elementFormDefault="qualified" targetNamespace="http://dmtserv.CardServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTransactionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTransactionListResult" nillable="true" type="tns:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="cardCode" type="xs:int" />
      <xs:element minOccurs="0" name="cardHolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="errorNumber" type="xs:int" />
      <xs:element minOccurs="0" name="readerNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:element name="UpdateTransactionSQL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTransactions" nillable="true" type="tns:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionSQLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionSQLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOneCardSql">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="card" nillable="true" type="tns:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardCode" type="xs:int" />
      <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:element name="UpdateOneCardSqlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOneCardSqlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCardListResult" nillable="true" type="tns:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>